.App-header {
  background-color: #3DA9DE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1{
margin: 0;

}

.responsive-paragraph{
  margin-top: 1em ;
  margin-bottom: 1em;
}
/* In your component's CSS file */

/* Styles for screens with a maximum width of 600px (typically mobile devices) */
@media only screen and (max-width: 600px) {
  .responsive-paragraph {
      width: 100%;
  }
}

/* Styles for screens wider than 600px (typically desktop devices) */
@media only screen and (min-width: 601px) {
  .responsive-paragraph {
      width: 60%;
  }
}
