body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Disables horizontal scroll */
  overflow-y: hidden; /* Disables vertical scroll */
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
